
html,body{
  height:100%;
  width:100%;
}

#root{
	height:100%;
  	width:100%;
}

.game {
	text-align: center;
	background-color: green;
	width: 100%;
	height: 100%;
}

.puntuacion{
	margin: auto;
}

.content{
	margin: auto;
}

.actionbar{
	margin: auto;
}